# Environment file for the Cheerleader Agent

# LLM settings for optional preprocessing
LLM_PROVIDER="openai"
LLM_MODEL="unsloth/qwen3.5-9B-gguf:Q4_K_M"
BASE_URL="http://localhost:11434/v1"
API_KEY=""

# Skills Path
SKILLS_PATH="./skills"

# System Instructions
SYSTEM_PROMPT="You are an expert in assembly language and reverse engineering, tasked to help reconstructing software logic from a Disassembler Dump. You have skills at your disposal, use them as you see fit"
